/* CSS HEADER */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner-wrap-second{
    width: 40%;
    height: 100%;
}
header .inner-wrap-second ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    font-weight: 500;
}
header ul li a:hover{
    color: var(--color-icon);
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

header .inner-logo {
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-weight: 700;
    margin: 0;
}
header .inner-logo .special-logo{
    color: var(--color-icon);
    font-size: 2rem;
    font-weight: 700;
}
header .inner-wrap-last{
    width: 7%;
    height: 2.5rem;
    
}
header .inner-wrap-last a{
    display: inline-block;
    background: linear-gradient(#F67907, #F4A91E);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 9px 0;
    text-align: center;
    color: #fafafa;
}
header .inner-wrap-last a:hover{
    background: linear-gradient(#2c9fbb, #63d4d8);
    color: var(--color-icon);
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
}

/* CSS ENDHEADER */

/* CSS SECTION-1 */
.sec-1 .container{
    display: flex;
    flex-wrap: wrap;
}
.sec-1 .container .inner-wrap{
    width: 50%;
}

.sec-1 .container .inner-title{
    color: var(--color-secondary);
    font-size: 4.5rem;
    font-weight: 700;
}

.sec-1 .container .inner-desc{
    font-weight: 400;
    font-size: 1.5rem;
}
.sec-1 .container .group-button .cta{
    display: block;
}
.sec-1 .container .group-button{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.sec-1 .container .group-button p{
    margin: 0;
}
.sec-1 .group-button .cta-btn {
    display: inline-block;
    background: linear-gradient(#F67907, #F4A91E);
    width: 40%;
    height: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 16px 0;
    text-align: center;
    color: #fafafa;
    font-size: 1.3rem;
}

.sec-1 .group-button .cta-btn:hover {
    background: linear-gradient(#2c9fbb, #63d4d8);
    color: var(--color-icon);
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
}
.sec-1 .group-button .cta-video{
    background-color: #F67907;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.sec-1 .group-button .cta-video i{
    font-size: 3.4rem;
    color: #fafafa;
}
.sec-1 .group-button p{
    padding: 20px 0;
}
.sec-1 .group-button .cta-video:hover {
    background: linear-gradient(#2c9fbb, #63d4d8);
    color: var(--color-icon);
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
}

.sec-1 .inner-img .img-fluid{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.sec-1 .inner-img{
    padding: 35px 0;
}
.sec-1{
    padding-bottom: 100px;
}

/* END CSS SEC-1 */

/* CSS SEC-2 */

.sec-2{
    background-color: var(--bg-priority);
    padding: 50px 0;
    margin-bottom: 80px;
}

.sec-2 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec-2 .inner-content{
    display: flex;
    width: 100%;
}

.sec-2 .inner-wrap{
    width: calc(100% / 3 - 10px);
}
.sec-2 .inner-icon i{
    background-color: #5873E5;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--bg-priority);
    box-shadow: 5px 2px 8px 1px #333;
}
.sec-2 .inner-icon{
    padding: 0 20px;
}

.sec-2 .inner-1 .inner-title{
    color: var(--color-priority);
    font-weight: 700;
    font-size: 1.3rem;
}
.sec-2 .inner-1 .inner-desc{
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 0.7rem;
}
.sec-2 .inner-1{
    padding-right: 150px;
}
.sec-2 .inner-intro{
    padding-top: 15px;
}
.sec-2 .inner-intro .inner-title{
    font-size: 1.3rem;
    color: var(--color-secondary);
    font-weight: 600;
    margin-bottom: 20px;
}

/* END CSS SEC-2 */
.sec-3{
    background-color: var(--bg-priority);
    padding: 50px 0;
}
.sec-3 .inner-1{
    display: flex;
    flex-wrap: wrap;
}

.sec-3 .inner-child{
    width: calc(100% / 2 - 10px);
}
.sec-3 .inner-wrap{
    width: calc(100% / 2);
}
