.list-item {
    list-style-type: none;
    padding-left: 0;

}

.list-item li:is(:hover) {
    scale: 1.1;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    background-color: antiquewhite;
    color: black;
}