:root{
    --color-btn: #e60c0c;
    --bg-bd: #333;
    --fs-base: 17.6px;
}

body{
    background: var(--bg-bd);
    font-size: var(--fs-base);
}

p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fff;
}

.btn-cus{
    background: var(--color-btn);
    width: 150px;
    height: 53px;
    padding-top: 0.5rem;
    font-weight: bold;
}