@media screen and (max-width: 375px) {
    .btn-cus {
        width: 110px;
        height: 45px;
        font-size: 1rem !important;
    }

    .sec-1 .column-1 .inner-title {
        font-size: 1.5rem;
    }

    .sec-2 .inner-title {
        font-size: 3rem;
    }

    .sec-4 button.slick-next {
        right: 5px;
        opacity: 0.6;
    }

    .sec-4 button.slick-prev {
        left: 5px;
        opacity: 0.6;
    }

    .sec-5 .bg-img {
        width: 100%;
    }

    .sec-5 .overplay {
        display: none;
    }

    .sec-5 .col-second .inner-title {
        font-size: 2rem;
    }

    .sec-5 .col-second .pr {
        padding: 0 3rem;
    }

    footer .container{
        padding: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    .sec-2 .px-cus {
        padding: 0;
    }
}